<div class="container p-5">
    <h6 class="title-6">Input : </h6>
    <div class="row">
        <textarea class="form-control mb-2 c-textarea" [(ngModel)]="inputText"></textarea>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary me-2" (click)="encrypt(inputText)">Encrypt</button>
            <button type="button" class="btn btn-secondary me-2"  (click)="decrypt(inputText)">Decrypt</button>
        </div>
    </div>
    <h6 class="title-6 mt-4">Output : </h6>
    <div class="row">
        <textarea class="form-control mt-2 c-textarea" [ngModel]="outputText"></textarea>
    </div>
</div>

<div class="container">
    <footer class="py-3 my-4">
      <p class="text-center text-body-secondary">Created by - Pranai Giri (Sikkim, IN)</p>
    </footer>
</div>
